@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  @font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
  'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
  'Noto Color Emoji';
}

.arrow-navigation-row{
  border: none;
  outline: none;
}

.arrow-navigation-row:hover {
  background-color: #f7f7f7; 
  cursor: pointer;        
}

.arrow-navigation-row:focus {
  background-color: #f7f7f7; 
  cursor: pointer;        
}